*{
    margin: 0;
    padding: 0;
    text-align: center;
    max-width: 100;
}
h1{
    background-color: rgb(13, 17, 49);
    color: rgb(240, 248, 255);
    line-height: 4rem;
    height: 4rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 4rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    margin-top: 2rem;
}

#user-score,#comp-score{
    font-size: 3rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 4rem;
}       

